# Installation:
# - Copy below to /lib/systemd/system/node-red.service
# - Change <username> to your username
# - Run: sudo systemctl daemon-reload
# - Run: sudo systemctl enable node-red
# - Run: sudo systemctl start node-red

[Unit]
Description=Node-RED
After=syslog.target network.target
Documentation=https://nodered.org

[Service]
#Environment="NODE_RED_OPTIONS=-v"
ExecStart=/usr/bin/env node-red $NODE_RED_OPTIONS
WorkingDirectory=/home/<username>
User=<username>
Group=<username>
Nice=5
SyslogIdentifier=Node-RED
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target